<h1>DATA SCIENCE TOOLS AND ECOSYSTEM </h1>

<h3>In this notebook, Data Science Tools and Ecosystem are summarized.</h3>

Some of the popular languages that Data Scientists use are:
<ol>
  <li>Python</li>
  <li>MySql</li>
  <li>R</li>
    <li>Scala</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
  <li>Numpy</li>
  <li>Pandas</li>
  <li>Matplolib</li>
    <li>Scikit Learn</li>
  <li>Tensor Flow</li>
  <li>Seaborn</li>
</ol>

<table>
    <tr>
        <th>Data Science Tools</th> 
    </tr>
     <tr>
        <td>Apache Spark </td> 
    </tr>
      <tr>
        <td>Keras</td> 
    </tr>
      <tr>
        <td>Tensor Flow </td> 
    </tr>
    
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>

In [1]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60

min=200
print("hours in 200 min:")
min/60

hours in 200 min:

3.3333333333333335

<h2>Objectives:</h2>

<ul>
  <li>List popular programmming languages for Data Science</li>
  <li>Tools used in Data Science</li>
  <li>python arithematic intro</li>
</ul>